
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f7;
    color: #4b0049;
  }
  
  header {
    background-color: #870c4c;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .nav-items a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .nav-items a:hover {
    background-color: #d81b60;
    border-radius: 5px;
  }
  
  h1, h2 {
    color: #9c27b0;
  }
  
  .welcome h1 {
    color: #f50057;
    text-align: center;
    margin: 20px 0;
  }
  
  .intro {
    text-align: center;
    margin: 10px auto;
    width: 60%;
    font-size: 1.2em;
    line-height: 1.8;
  }
  
  .booking h1 {
    text-align: center;
    color: #c2185b;
  }
  
  label {
    color: #880e4f;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
  }
  
  button:hover {
    background-color: #d81b60;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6a1b9a;
    padding: 20px;
    color: white;
    height: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer h2 {
    margin: 10px 0;
}

.footer .sections3 {
    text-align: left;
    width: 60%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer img {
    margin: 5px;
    width: 30px;
}

.footer .subfooter2 {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid white;
    width: 100%;
}

.footer .sections4 {
    text-align: right;
    width: 30%;
    position: absolute;
    top: -100px;
    right: 20px;
    z-index: 10;
    padding-top: 90%;
}
